<div class="jumbotron text-left">
  <div class="flex-column">
  
      <div class="row"> 
       
      <div class="col-3"> Employee Id:</div>
      
      <div class="col-4 "> {{event.id}}</div></div>
   
      <div class="row"><div class="col-3">Employee Name: </div>
      <div class="col-4 ">{{event.name}}</div></div>
    
      <div class="row"><div class="col-3">Location: </div>
      <div class="col-4 ">{{event.location}}</div></div>
  
      <div class="row"> <div class="col-3">Designation: </div>
      <div class="col-4">{{event.Designation}}</div></div>
</div></div>
